.exchangePage {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center
}

.center {
    max-width: 900px;
    width: 90vw;
    background-color: transparent;
}

.exchangePageHeader {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
}

.nameNIcon {
    display: flex;
    align-items: center;
    max-width: 620px;
    width: calc(90vw); 
}

.mainIcon {
    width: 60px;
    border-radius: 50%;
}

#UniswapPage {
    width: 100px;
    margin-left: 20px;
    margin-right: 5px;
    transition: all 0.1s ease-in-out;
}

#KyberPage {
    width: 45px;
    margin-left: 25px;
    margin-right: 15px;
}

#zrx {
    width: 45px;
    margin-left: 28px;
    margin-right: 15px;
}

#Bancor {
    width: 50px;
    margin-left: 26px;
    margin-right: 15px;
}

#Curve {
    width: 50px;
    margin-left: 26px;
    margin-right: 15px;
}

#Tokenlon {
    width: 50px;
    margin-left: 26px;
    margin-right: 15px;
}

/* Chart ------------------------------------------------------------ */

#container {
    position: fixed;
    top: 120px;
    margin-left: 18%;
    width: 600px;
    display: block;
}

/* Chart ------------------------------------------------------------ */

.volumeLabel {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
}

.liquidityLabel {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    margin-left: 20px;
}

.amount {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.exchangeTitle {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 0px;
}