* {
    padding: 0;
    margin: 0;
}

.homeOuter {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: white;
}


/* HEDEAR ------------------------------------------------------------------------------------------------------------------- */

.header {
    position: fixed;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.headerCenter {
    width: 850px;
}

.title {
    margin-top: 8px;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 40px;
    color: #FFDB00;
    font-weight: 700;
}

.title:hover {
    cursor: default;
}

.slogan {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
}

.volumeTotal {
    position: fixed;
    top: 45px;
    right: calc((100vw - 565px) / 2); 
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
}

.liquidityTotal {
    position: fixed;
    top: 45px;
    right: calc((100vw - 860px) / 2); 
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
}

.volumeTotal:hover {
    cursor: pointer;
    color: grey;
}

.volumeTotal:active {
    cursor: pointer;
    color: black;
}

.liquidityTotal:hover {
    cursor: pointer;
    color: grey;
}

.liquidityTotal:active {
    cursor: pointer;
    color: black;
}

.vol {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.liq {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
}


/* ECHANGE INFO ------------------------------------------------------------------------------------------------------------- */

.exchanges {
    width: 1000px;
    position: fixed;
    top: 120px;
    height: calc(100vh - 120px);
    overflow-y: scroll;
}

.exchange {
    width: 900px;
    height: 120px;
    margin-bottom: 40px;
    margin-left: 50px;
    background-color: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0px 8px 16px 0 rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.exchange:hover #uniswapIcon {
    width: 80px;
    margin-left: 10px;
    margin-right: 0px;
    transition: all 0.1s ease-in-out;
}

.exchange:hover {
    cursor: pointer;
    box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2);
}

.exchange:active {
    box-shadow: none;
}

#exchange1 {
    margin-bottom: 60px;
}

.nameAndIcon {
   float: left;
   height: 100%;
   display: flex;
   align-items: center;
   width: 610px;
}

.icon {
    border-radius: 50%;
}

#one {
    margin-top: 20px;
}

#uniswapIcon {
    width: 60px;
    margin-left: 20px;
    margin-right: 10px;
    transition: all 0.1s ease-in-out;
}

#kyberIcon {
    width: 60px;
    margin-left: 20px;
    margin-right: 9px;
}

#zrxIcon {
    width: 45px;
    margin-left: 28px;
    margin-right: 15px;
}

#bancorIcon {
    width: 50px;
    margin-left: 26px;
    margin-right: 15px;
}

.volume {
    color: black;
    font-size: 15px;
    color: red;
}

.liquidity {
    margin-left: 40px;
    font-size: 15px;
}

#volume1 {
    color: green;
}

#liquidity2 {
    margin-left: 52px;
}

#liquidity3 {
    margin-left: 42px;
}

#liquidity4 {
    margin-left: 42px;
}



.amount {
    font-size: 20px;
}

.footer {
    width: 650px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-left: 170px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
}